@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.title {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100 !important;
    word-spacing: 3em;
    padding-top: 75px !important;
    padding-bottom: 35px !important;
}
.subtitle {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100 !important;
    word-spacing: 1em;
    color: grey !important;
    /* padding-top: 75px !important; */
}
.uploadText {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100 !important;
    /* word-spacing: 1em; */
    color: grey !important;
    /* padding-top: 75px !important; */
}

.dashboardContainer {
    height: 90vh;
    /* display: flex;
    justify-content: space-between; */
}

.navBar {
    display: flex;
    justify-content: flex-end;
}

#logOutContainer {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
}

.showButton {
    background-color: white !important;
}

.sidebar {
    /* flex-basis: 30%; */
    /* visibility: hidden; */
}

.recordButton {
    text-align: center;
    padding: 50px;
}

.noResults {
    text-align: center;
}

.fileUploadContainer {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.viewResultsButton {
    display: flex;
    justify-content: center;
}


.blink {
    background-color: rgb(97, 0, 0) !important;
    animation-name: blink;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}

