@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #eefbfc;
    /* color: rgb(56, 50, 47); */
}

.title {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100 !important;
    word-spacing: 3em;
    padding-top: 105px !important;
    padding-bottom: 35px !important;
}
.subtitle {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100 !important;
    word-spacing: 1em;
    color: grey !important;
    /* padding-top: 75px !important; */
}
.uploadText {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100 !important;
    /* word-spacing: 1em; */
    color: grey !important;
    /* padding-top: 75px !important; */
}

.dashboardContainer {
    height: 90vh;
    /* display: flex;
    justify-content: space-between; */
}

.navBar {
    display: flex;
    justify-content: flex-end;
}

#logOutContainer {
    display: flex;
    justify-content: flex-end;
    background-color: #db2828;
}

#logOutButton {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #db2828;
    color: #ecc3c3 !important;
    opacity: 1;
}

#logOutButton:hover {
    color: #ffffff !important;
}

.showButton {
    background-color: #eefbfc !important;
    margin: 0px;
}

.sidebar {
    background-color: #db2828 !important;
    /* opacity: 0.8; */
    /* flex-basis: 30%; */
    /* visibility: hidden; */
}

.recordButton {
    text-align: center;
    padding: 50px;
}

.noResults {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.uploadContainer {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.fileUploadContainer {
    font-family: 'Lato', sans-serif;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.submitUpload {
    color: #eefbfc !important;
    text-align: center;
}

.viewResultsButton {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    color: #eefbfc !important;
}

.blink {
    background-color: rgb(97, 0, 0) !important;
    animation-name: blink;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.recordingInProcess {
    font-weight: 100;
    padding-top: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.rec1 {
    animation-name: dot;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.rec2 {
    opacity: 0;
    animation-name: dot;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.rec3 {
    opacity: 0;
    animation-name: dot;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

.rec4 {
    opacity: 0;
    animation-name: dot;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

.rec5 {
    opacity: 0;
    animation-name: dot;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}


.modalHeader {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #eefbfc !important;
}

.artistName {
    text-align: end;
    font-style: italic;
}

.lyricsAndComments {
    font-family: 'Lato', sans-serif !important;
    display: flex;
    justify-content: space-around;
}

.lyricsInModal {
    font-family: 'Lato', sans-serif;
    width: 600px;
    height: 400px;
    padding: 5px;
    overflow: scroll;
}

.commentsTitle {
    padding: 5px;
}

.textArea {
    color: grey;
    font-size: 11px;
    outline: 0px;
}

.textArea:focus {
    color: black;
    /* font-size: 11px; */
}

.videoLink {
    padding: 5px;
}

.saveButton {
    background-color: grey!important;
    /* opacity: 0.8; */
    color: #eefbfc !important;
}


/* 
.saveButton:hover {
    color: #ffffff !important;
} */

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}

@keyframes dot {
    0% {opacity: 0;}
    10% {opacity: 0.2;}
    30% {opacity: 0.4;}
    40% {opacity: 0.6;}
    50% {opacity: 0.8;}
    60% {opacity: 1;}
    70% {opacity: 0.8;}
    80% {opacity: 0.6;}
    90% {opacity: 0.3;}
    100% {opacity: 0;}
}

