@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.songButtonContainer {
    display: flex;
    justify-content: space-between;
}

.lineBreaks {
    white-space: pre-line;
}

.deleteButton {
    margin-bottom: 20px !important;
    width: 40px !important;
    text-align: center;
    background-color: #db2828 !important;
    transition: 0.4s !important;
    color: #ecc3c3 !important;
    opacity: 1;
    margin-bottom: 0px !important;
}

.deleteButton:hover {
    color: rgb(255, 255, 255) !important;
    transition: 0.4s !important;
}

.trackButton {
    background-color: #db2828 !important;
    font-weight: 600 !important;
    font-family: 'Lato', sans-serif !important;
    transition: 0.4s !important;
    color: white !important;
    opacity: 1;
    font-size: 16px !important;
    /* text-shadow: 1px 1px #ecc3c3 !important; */
}

.trackButton:hover {
    color: rgb(255, 255, 255) !important;
    transition: 0.4s !important;
}

.modalHeader {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #eefbfc !important;
}

.artistName {
    text-align: center;
    font-style: italic;
}

.lyricsAndComments {
    background-color: #eefbfc;
    display: flex;
    justify-content: space-around;
    color: grey;
}

.lyricsInModal {
    padding: 5px;
    width: 600px;
    height: 400px;
    overflow: scroll;
}

.commentsTitle {
    /* color: grey; */
    padding: 5px;
}

.textArea {
    color: grey;
    font-size: 11px;
    outline: 0px;
}

.textArea:focus {
    color: black;
}

.videoLink {
    padding: 5px;
}

.deleteModal {
    background-color: #eefbfc !important;
}

.deleteButtonModal {
    background-color: grey !important;
    color: #eefbfc !important;
}