@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.deleteButton {
    margin-bottom: 20px !important;
    width: 40px !important;
    justify-content: center;
    background-color: rgb(207, 207, 207) !important;
    transition: 0.4s !important;
}

.deleteButton:hover {
    color: rgb(122, 3, 3) !important;
    transition: 0.4s !important;
}

.trackButton {
    background-color: rgb(250, 245, 241) !important;
    font-weight: 100 !important;
    font-family: 'Roboto', sans-serif !important;
    background-color: white !important;
    transition: 0.4s !important;
}

.trackButton:hover {
    color: rgb(122, 3, 3) !important;
    transition: 0.4s !important;
}

.modalHeader {
    background-color: rgb(255, 251, 247) !important;
}

.lyricsAndComments {
    background-color: rgb(250, 245, 241);
    display: flex;
    justify-content: space-around;
}

.lyricsInModal {
    width: 600px;
    height: 400px;
    overflow: scroll;
}